.recipe-item {
    background-color: #F5CD56;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "img ."
    "img ."
    "img .";
}

.recipe-item .img-container {
    grid-area: img;
    background-image: url(../../../images/omelette.jpg);
    background-size:cover;
    border-radius: 20px 0px 0px 20px;
}

.recipe-item .item-title {
    font-size: 1em;
}

.recipe-item .item-element:not(.item-title){
    font-size: 0.7em;
}
.recipe-item p{
    padding: 20px;
    align-self: center;
    
}