a {
    overflow: visible;
}

.recipe-item {
    background-color: #fd927f;
    color: rgb(32, 32, 32);
    border-radius: 20px;
    display: grid;
    max-width: 30rem;
    height: 22rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr repeat(3, 1fr);
    grid-template-areas:
        "img ."
        "img ."
        "img ."
        "img .";
    transition: 0.1s ease-in;
    overflow: visible;
}

/* hover animation */
.recipe-item:hover {
    background-color: #3fb472;
    color: whitesmoke;
    transform: scale(1.09) rotate(2deg);
    box-shadow: 0px 0px 20px rgba(0, 0, 0.5);
    cursor: pointer;
}

/* displayed if author provided an img */
.recipe-item .img-container {
    grid-area: img;
    background-size: cover;
    background-position: center;
    border-radius: 20px 0px 0px 20px;
}

.recipe-item p.item-name {
    font-size: 1.5rem;
}

.recipe-item p {
    text-overflow: ellipsis;
    /* color: black; */
    font-size: 1.2rem;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 802px) {

    .recipe-item {
        max-width: 20rem;
        height: 18rem;

    }
    .recipe-item p.item-name {
        font-size: 1.2rem;
    }

    .recipe-item p {
        font-size: 1.0rem;
        padding: 20px;
    }
}

@media screen and (max-width: 676px) {
    .recipe-item {
        max-width: 20rem;
        height: 15rem;

    }
    .recipe-item p.item-name {
        font-size: 0.9rem;
    }

    .recipe-item p {
        font-size: 0.8rem;
        padding: 20px;
    }
}