.recipe-item {
    background-color: #F5CD56;
    /* background-color: #306DBE; */
    border-radius: 20px;
    display: grid;
    height: 22rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "img ."
        "img ."
        "img .";
    transition: 0.1s ease-in;
    overflow: hidden;
}

/* hover animation */
.recipe-item:hover {
    transform: scale(1.09) rotate(2deg);
    box-shadow: 0px 0px 20px rgba(0, 0, 0.5);
    cursor: pointer;
}

/* displayed if author provided an img */
.recipe-item .img-container {
    grid-area: img;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
}
/* displayed if author did not provide an img */
.recipe-item .img-container-backup {
    background-image: url('../../../images/missing-photo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    grid-area: img;
    border-radius: 20px 0px 0px 20px;
}

.recipe-item .item-name {
    font-size: 1em;
    overflow:hidden;
}

.recipe-item .item-element:not(.item-name) {
    font-size: 0.7em;
}

.recipe-item p {
    padding: 20px;
    color: black;
    text-align: center;
}