.catalog {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.catalog-title {
    padding: 22px;
    text-align: center;
    font-size: 36px;
}

.catalog-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px;
    gap: 30px;
    color: black;
}


