.button{
    all:unset;
    background-color: #306DBE;
    margin: 5px 0;
    padding: 4px 12px;
    border-radius: 2px;
    color: white;
    grid-area: submit;
    justify-self: center;
    cursor: pointer;

}

.button:hover {
    background-color: #8099bb;
}