.button{
    all:unset;
    background-color: #3fb472;
    margin: 5px 0;
    padding: 4px 12px;
    border-radius: 2px;
    border-radius: 8px;
    color: whitesmoke;
    grid-area: submit;
    justify-self: center;
    cursor: pointer;

}

.button:hover {
    background-color: #fd927f ;
}