.profile-container {
    margin: 3rem;
    /* background-color: rgb(87, 1, 87); */
    background-color: #efd6fe;
    color: black;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
}

.catalog .catalog-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px;
    gap: 30px;
}