.profile-container {
    height: 100%;
    background-color: #f8d7a1;
    background-image: linear-gradient(180deg, #f8d7a1 60%, #ff9a88 100%);
    color: black;
    text-align: center;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.profile-container>h1 {
    font-size: 36px;
    margin: 22px;
}

.catalog .catalog-container {
    overflow: visible;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 24rem);
    padding: 30px;
    gap: 30px;
    color: rgb(32, 32, 32);
}

@media screen and (max-width: 802px) {
    .catalog .catalog-container {
        grid-template-columns: repeat(auto-fit, 18rem);
    }
}

@media screen and (max-width: 676px) {
    .catalog .catalog-container {
        grid-template-columns: repeat(auto-fit, 15rem);
        gap: 8px;
        padding: 18px 0px;
    
    }
}