.edit-container {
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.edit-title {
    padding: 22px;
    text-align: center;
    font-size: 36px;
}


