/*  nice red: #D11B3F;
    nice blue: #306DBE;
    nice yellow: #F5CD56;
*/

.details {
    background-color: lightgrey;
}

.details-container {
    background-color: #F5CD56;
    margin: 5rem 10rem 2rem 10rem;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 20px;
    display: grid;
    height: 90vh;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-areas:
        'title edit'
        'img summary'
        'img .'
        'all-comments all-comments'
}

.details-title {
    text-align: center;
    grid-area: title;
    padding-bottom: 1rem;
}

.details-summary {
    grid-area: summary;
    margin: 0rem 2rem 1rem 4rem;
    font-weight: 300;
}

.details-summary-prepTime {
    margin: 0rem 0rem 1rem 1rem;
    padding: 0 0 0 2rem;
}

.details-summary-ingredients {
    margin: 0rem 0rem 0rem 3rem;
    padding: 1rem 2rem;

}

.details-steps {
    background-color: #306DBE;
    margin: 0rem 1rem 0 7rem;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    padding: 1rem;
}

.details-img-container {
    grid-area: img;
    background-size: cover;
    /* border-radius: 20px 0px 0px 20px; */
}

.details-img-container-backup {
    background-image: url('../../images/missing-photo.jpg');
    background-size: 'contain';
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    grid-area: img;
    border-radius: 20px 20px 20px 20px;
}

.comments-container {
    background-color: #D11B3F;
    grid-area: all-comments;
    margin: 0rem 10rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    border-radius: 20px;
}

.comment-form {
    background: lightgrey;
    width: 50vw;
    text-align: center;
    margin: 2rem auto;
    display: grid;
    padding: 1rem;
    border-radius: 20px;
}

.comment-form textarea{
    border-radius: 20px;
}

.comment-form .comment-submit {
    border-radius: 30px;
    width: 20rem;
    margin: 10px auto;
}

.no-comments {
    color: white;
    margin: 0rem 1rem;
}

.details-controls {
    display: flex;
    flex-direction: column;
    grid-area: edit;
    align-items: flex-end;
    margin: 0 1rem;
}

.details-controls .details-button{
    background-color: #306DBE;
    margin: 5px 0;
    padding: 4px;
    border-radius: 2px;
    color: white;
}

.details-controls details.button:hover {
    background-color: #8099bb;
}