.details {
    margin: 4rem 12%;
}

.details .details-title {
    text-overflow: ellipsis;
    text-align: center;
    font-size: 36px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.details .details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 2rem;
    grid-template-areas:
        'controls details-meta'
        'img summary'
        'img steps'
        'img steps';
}

.details .details-container .details-controls .controls-buttons {
    /* New Style */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.details .details-container .details-meta {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.details .details-container .details-meta .details-prepTime {
    display: flex;
    align-items: center;
    color: #3fb472;
}

.details .details-container .details-meta .details-prepTime .clock-icon {
    margin-right: 0.5rem;
    width: 2.5rem;
}

.details .details-container .details-meta .details-difficulty .difficulty-value {
    color: #3fb472;
}

.details .details-container .details-summary {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

.details .details-container .details-summary .details-summary-ingredients {

    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /* wrap contents in second column */
    flex-wrap: wrap;
}

.details .details-container .details-summary .details-summary-ingredients li {
    margin-left: 1.5rem;
    font-weight: lighter;
}

.details .details-container .details-steps {
    background-color: #fd927f54;
    word-break: break-word;
    padding: 1rem;
    font-weight: lighter;
    margin: 0 1rem;
    border-radius: 8px;
}

/* Recipe image styling */
.details-img-container {
    width: 100%;
    /* margin: auto auto auto 1rem; */
    background-size: cover;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

/* grid areas */
.details .details-controls {
    grid-area: controls;
}

.details .details-container .details-meta {
    grid-area: details-meta;
}

.details .details-img-container {
    grid-area: img;
}

.details .details-summary {
    grid-area: summary;
}

.details .details-steps {
    grid-area: steps;
}

@media screen and (max-width: 802px) {
    .details .details-container {
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
            'img img'
            'details-meta controls'
            'summary summary'
            'steps steps'
    }

    .details .details-container .details-meta {
        justify-content: center;
    }
    .details-img-container {
        border-radius: 20%;
        margin: auto;

    }
    .details .details-container .details-steps {
        
    }

}