.sort-container {
    /* background-color: green; */
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 18px 30px 18px 30px;

}

.sort-select {
    /* background-color: #3fb472; */
    /* color: whitesmoke; */
    background-color: white;
    border: 1px solid grey;
    border-radius: 8px;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
}

select option:checked {
    /* background: linear-gradient(#d6d6d6, #d6d6d6); */
    background-color: #3fb472;
    color: whitesmoke;
}

@media screen and (max-width: 850px) {
    /* TODO - FIX RESPONSIVENESS OF SORT/SEARCH BAR */
    .sort-select {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        width: 6rem;
    }
}