
.home-img-container {
    height: 100%;
    max-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 40%;
    background-image: url('../../images/cooking.jpg');
    display: flex;
}

.home-start-btn {
    font-size: 2rem;
    background-color: #FDB234;
    color: black;
    /* color: #FDB234; */
    /* backdrop-filter: blur(10px); */
    border-radius: 20px;
    padding: 1rem;
    position: absolute;
    top: 42vh;
    right: 10rem;
    flex-shrink: 3;
}

.home-start-btn:hover {
    background-color: #f3dc99;
    scale: 1.1;
}