/*  nice red: #D11B3F;
    nice blue: #306DBE;
    nice yellow: #F5CD56;
*/
.nav {
    display: flex;
    background-color: #D11B3F;
    list-style: none;
    text-align: center;
    width: 100vw;
}

.nav li {
    flex: 1;
    /* Let all the flexible items be the same length, regardless of its content */
    width: 100%;
}

.nav li:hover {
    background-color: #d3647a;
}

.nav li:active {
    background-color: #F5CD56;
}

.nav li a,
span {
    text-decoration: none;
    color: black;
    display: block;
    padding: 6px 0px;
}

.nav li span {
    cursor: pointer;
}

.userPanel {
    background-color: #F5CD56;
    
}

.userPanel .userPanel-content {
    position: relative;
}