
.reg-title {
    padding: 22px;
    text-align: center;
}

.reg-form {
    padding: 50px 33%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    '. .'
    '. .'
    '. .'
    'submit submit'
    'already-reg already-reg'
}

/* Grid area naming */
.reg-form .reg-submit {
    grid-area: submit;
}
.reg-form .already-reg {
    grid-area: already-reg;
    text-align: center;
}

.reg-form input {
    border-radius: 40px;
    padding: 0px 20px;
    font-weight: 200;

}

.here-btn {
    color: rgb(134, 23, 134);
}