.comment-container {
    width: 90%;
    margin: auto;
    background-color: #3A7CA5;
    color: whitesmoke;
    padding: 1rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 3fr;
    grid-template-areas:
        'owner owner'
        'body body';
}

.comment-container .comment-body {
    display: flex;
}

.comment-container .comment-body .comment-content {
    font-weight: lighter;
    word-wrap: break-word;
    background-color: #c5e4f8;
    color: black;
    width: 79%;
    padding: 0.5rem 0.5rem;
    margin-right: 1rem;
}

.comment-container .comment-body .comment-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.comment-container .save-btn {
    margin-right: 0.5rem;
}

.comment-body textarea {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-weight: lighter;
}

.comment-button {
    background-color: #fdc15c;
    border: 1px solid #b234fd;
    margin: 5px 0;
    padding: 4px 12px;
    border-radius: 2px;
    color: black;
    cursor: pointer;
    list-style-type: none;
    text-align: center;
}

.comment-button:hover {
    background-color: #feb8ad;
    color: black;
}

/* grid areas */
.comment-controls {
    grid-area: controls;
}

.comment-owner {
    grid-area: owner;
}

.comment-body {
    grid-area: body;
}

@media screen and (max-width: 802px) {
    .comment-container {
        width:90%;
        margin: auto;
    }
}