.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-container .create-title {
    padding: 22px;
    text-align: center;
    font-size: 36px;
}

.create-container .create-form {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    row-gap: 28px;
    /* align-items: center; */
    grid-template-areas:
    '. .'
    '. .'
    '. .'
    '. .'
    'ingredients-label ingredients-label'
    'ingredients ingredients'
    'steps-label steps-label'
    'steps steps'
    'submit submit'
}

.create-container .create-form textarea {
    font-size: 0.8em;
    font-weight: 200;
}

.create-container .create-form input {
    border-radius: 40px;
    padding: 0px 20px;
    font-weight: 200;
}

/* Grid area naming */
/* .create-container .create-form .create-submit {
    grid-area: submit;
    margin-top: 20px;
} */
.create-container .create-form .ingredients-label {
    grid-area: ingredients-label
}
.create-container .create-form .create-ingredients {
    grid-area: ingredients
}
.create-container .create-form .steps-label {
    grid-area: steps-label
}

.create-container .create-form .create-steps {
    grid-area: steps
}



