.footer {
    height: 3rem;
    width: auto;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 28px 10px 0px;
    /* background-color: #a45bce; */
    /* background-color: #7D8224; */
    /* background-color: #FCB746; */
    color: rgb(32, 32, 32);
    background-color: #FF6347;
}