
.login-title {
    padding: 22px;
    text-align: center;
}

.login-form {
    padding: 50px 33%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    '. .'
    '. .'
    'submit submit'
    'no-reg no-reg'
}

/* Grid area naming */
.login-form .login-submit {
    grid-area: submit;
}
.login-form .not-registered {
    grid-area: no-reg;
    text-align: center;
}

.login-form input {
    border-radius: 40px;
    padding: 0px 20px;
    font-weight: 200;
}

.here-btn {
    color: rgb(134, 23, 134);
}