.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container .login-title {
    padding: 22px;
    text-align: center;
    font-size: 36px;
}

.login-container .login-form {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    row-gap: 28px;
    /* justify-items: end; */
    /* align-items: center; */
    grid-template-areas:
        '. .'
        '. .'
        'submit submit'
        'no-reg no-reg'
}


/* Grid area naming */

.login-container .login-form .not-registered {
    grid-area: no-reg;
    text-align: center;
}

.login-container .login-form input {
    border-radius: 40px;
    padding: 0px 20px;
    font-weight: 200;
}

.here-btn {
    color:#D11B3F;
}
.here-btn:hover {
    text-decoration: underline;
}