.dropdown-container {
    position: absolute;
    top: 8vh;
    width: 11vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a45bce;
    
    /* border: 1px solid gray; */
    }

.dropdown-container .dropdown-link {
    /* background-color: aqua; */
    width: 100%;
}

.open {
    opacity: 1;
    max-height: 20vh;
}